</main>
    
</body>

<footer id="footer">
    <div class="row text-center">
        <div class="small-12 medium-6 medium-offset-3 columns">
            <p id="copyright">Copyright &copy; 2020 | MYO THIRI</p>
        </div>
    </div>
</footer>

</html>