<!DOCTYPE html>
<html>

<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="text-center">
    <main>
        <h1 class="banner p-3">Weather</h1>
        <form action="/" method="POST">
            <div class="form-group">
                <input autofocus id="city-input" class="form-control form-control-lg" type="text" name="cityName"
                    placeholder="Search city">
            </div>
            <button type="submit" class="btn btn-lg btn-dark">Search</button>
        </form>