*{
    font-family: sans-serif;
}


#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner,#weather-type {
    color: #FFD23F;
    font-family: sans-serif;
}

#invalidValue{
    color: red;
    
}

/*** footer starts ***/

#footer {
    padding: 5em 4em 2em;
    margin-bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer #copyright {
	margin-top: 1.6em;
	font-family: "Maven pro", sans-serif;
	font-weight: 500;
	color: #7d7d7d;
}


